{% extends "vacunateuc/base.html" %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'vacunateuc/style_principal.css' %}">
<title>{{titulo_pagina}} | Vacunate UC</title>
{% block content %}
  
  <div class="container">
    <div class="row">
      <div class="col">
        <br>
        <h1> Mi Perfil</h1>
        <br>
        <b>Nombre (s): </b>{{user.first_name}}
        <br>
        <b>Apellido (s): </b>{{user.last_name}}
        <br>
        <b>Número de Documento: </b> {{user.username}}
        <br>
        <b>Fecha de nacimiento: </b> {{fecha}}
      </div>
      <div class="col">
        <br>
        <h1>Mis dosis</h1>
        <br>
        {% if nro_dosis >= 1 %}
          <h4>Enfermedad: {{enfermedad}}</h4>
          <h4>Marca de vacuna: {{marca}}</h4>
        {% else %}
          
        {% endif %}
        
        <h4 style="font-size: 25px; font-weight: normal; vertical-align: middle;"><i class="{{clase}}" style="color: {{color}} ;"></i> {{texto}} </h4>
        {% if nro_dosis == null %}
          <a class="btn btn-register" href= "{% url 'solicitudvacuna' %}"><i class="bi bi-plus-circle"></i> Solicitar agendamiento para vacunación</a>
        {% endif %}
        {% for message in messages %} 
          <p>{{message}}<b>{{ sigtedosis|date:"l, d F, Y" }}</b></p>
        {% endfor %}
        
        <!-- <b>{{ sigtedosis|date:"M d, Y" }}</b> -->
      </div>
    </div>
  </div>
  
  

{% endblock %}