{% extends "vacunateuc/base.html" %}

{% block content %}
  <div class="container">
    <table class="table table-bordered">
        <thead>
            <br>
            <br>
            <tr>
                <td>Nombre</td>
                <td>Apellido</td>
                <td>Sede</td>
                <td>Registro</td>
                <td>Profesion</td>
            </tr>
        </thead>
        
        <tbody>
            {% for personal in personal %}
            <tr>
                <td>{{personal.nombre}}</td>
                <td>{{personal.apellido}}</td>
                <td>{{personal.sede}}</td>
                <td>{{personal.registro}}</td>
                <td>{{personal.profesion}}</td>

            </tr>
            {% endfor %}
        </tbody>
      
    </table>
  </div>
{% endblock %}