{% extends "vacunateuc/base.html" %}

{% block content %}
    <div class="container">
        <br>
        <h2>Por favor, rellene el formulario de solicitud para acceder a la vacunación</h2>
        <form class= "needs-validation" novalidate action="{% url 'solicitudvacuna' %}" method="POST">
            {% csrf_token %}
            <div class="col"> <!-- Tipo de enfermedad-->
                <label for="validationCustom01" class="form-label">¿Contra qué enfermedad deseas vacunarte?</label>
                <select class="form-select" name="tipo_de_enfermedad" id="validationCustom01" required>
                    <option selected disabled value=""> -- Por favor, seleccione una enfermedad --</option>
                    {% for val in tipo_enfermedad %}
                    <option value="{{ val }}"required>{{ val }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">
                    Este campo es requerido. Por favor, seleccione el tipo de enfermedad.
                </div>
            </div>
            <br>
            <div class="col"> <!-- Marca de vacuna -->
                <label for="validationCustom02" class="form-label">¿Que Plataforma/Marca de vacuna deseas aplicarte?</label>
                <select class="form-select" name="marca_de_vacuna" id="validationCustom02" required>
                    <option selected disabled value=""> -- Por favor, seleccione una marca de vacuna --</option>
                    {% for val in marca_vacuna %}
                    <option value="{{ val }}"required>{{ val }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">
                    Este campo es requerido. Por favor, seleccione la marca de vacuna.
                </div>
            </div>
            <br>
            <div class="col"> <!-- Puesto vacunatorio -->
                <label for="validationCustom03" class="form-label">¿A cuál puesto vacunatorio deseas ir para aplicar la dosis?</label>
                <select class="form-select" name="puesto_vacuna" id="validationCustom03" required>
                    <option selected disabled value=""> -- Por favor, seleccione un puesto vacunatorio --</option>
                    {% for val in puesto_vacunatorio %}
                    <option value="{{ val }}"required>{{ val }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">
                    Este campo es requerido. Por favor, seleccione un puesto vacunatorio.
                </div>
            </div>
            <br>
            <button class="btn btn-lg btn-register" type="submit" href="{% url 'solicitudvacuna' %}"><i class="bi bi-check"></i> Enviar solicitud</button>
        </form>
        <br>
        <h2 style="text-align: center;"><i class="bi bi-clock"></i></h2>
        <h2 style="text-align: center;">Horarios de atención de puestos vacunatorios</h2>
        <table class="table table-bordered">
            <thead>
                <br>
                <br>
                <tr>
                    <td>Puesto</td>
                    <td>Sede</td>
                    <td>Horario de inicio</td>
                    <td>Horario de finalización</td>
                </tr>
            </thead>
            
            <tbody>
                {% for puesto_vacunatorio in puesto_vacunatorio %}
                <tr>
                    <td>{{puesto_vacunatorio.nombre}}</td>
                    <td>{{puesto_vacunatorio.sede}}</td>
                    <td>{{puesto_vacunatorio.horario_inicio}}</td>
                    <td>{{puesto_vacunatorio.horario_fin}}</td>    
                </tr>
                {% endfor %}
            </tbody>
          
        </table>
    </div>


    <script>
        // validacion de campos
        (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
            })
        })()
    </script>
        
{% endblock %}